{% if current_admin() is can('menu.admin.index') %}
<li class="nav-item">
    <a href="{{ path('menu.admin.index') }}" class="nav-link {{ is_subpath('menu.admin.index') ? 'active' }}">
        <i class="nav-icon fas fa-compass"></i>
        <p>
            {{ trans("menu.title")}}
        </p>
    </a>
</li>
{% endif %}